html, body
  height: 100%
  padding: 0
  margin: 0
  overflow: hidden
body
  background: white
  font-family: 'Roboto'
h2
  margin-bottom: 0  
.footer
  max-width: 600px
  margin: 0 auto  
  text-align: center
.container
  max-width: 600px
  margin: 0 auto
  height: 100%
  margin-bottom: -50px
  padding: 0 15px
a
  text-decoration: none
  color: black  
.bg  
  background-image: url('../assets/nevermore.png')
  background-position: left
  background-repeat: repeat  
  opacity: .02
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 0
  z-index: -1
#paragraphs
  font-size: 18px
  border-radius: 4px
  padding: 6px
  width: 50px
#text
  font-size: 22px
  max-height: 400px
  overflow: auto
  padding: 15px 0

.controls
  padding: 12px 0  

.action-button
  position: relative
  padding: 7px 40px
  border-radius: 4px
  font-size: 18px
  text-decoration: none  
  cursor: pointer

.blue
  background-color: #c2c2c2